* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a:hover {
  cursor: pointer;
}
html{
  background-color: #fff;
}
body {
  font-family: 'Circular Std Book', sans-serif;
  background-color: #fff;
}
iframe {
  display: none;
}

button {
  background: #2c74ca;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
}